@media only screen and (min-width: 576px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: center;
    width: 540px;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: start;
    width: 720px;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: start;
    width: 720px;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: start;
    width: 960px;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: start;
    width: 1140px;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    margin-block: 16px;
    margin-inline: auto;
    place-items: start;
    width: 1320px;
    min-=height: 100vh;
  }
}
* {
  color: white;
  font-family: sans-serif;
}
